.btn {
  display: inline-block;
  padding: px2rem(12) px2rem(22);

  font-size: inherit;
  color: var(--btn-color);

  border: 2px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  transition: color 0.15s, background-color 0.15s, border-color 0.15s;

  @include hover() {
    color: var(--btn-hover-color);

    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    cursor: pointer;
  }

  &--danger {
    --btn-color: #fff;
    --btn-bg: #dc3545;
    --btn-border-color: #dc3545;
    --btn-hover-color: #fff;
    --btn-hover-bg: #bb2d3b;
    --btn-hover-border-color: #b02a37;
  }
}
