.btn {
  display: inline-block;
  padding: 11px 22px;

  font-size: inherit;
  color: $light-text-color;

  border: none;
  background-color: $brand-dark-color;

  @include hover() {
    cursor: pointer;
  }

  &--danger {
    background-color: $accent-third-color;
  }
}
