.btn-group {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin-top: $gap;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
