@use 'sass:math';

.checkbox {
  position: relative;

  display: inline-flex;
  align-items: center;
  gap: px2rem(3);

  @include hover() {
    cursor: pointer;
  }
}

.checkbox__input {
  @include visually-hidden();

  &:checked ~ .checkbox__icon::before {
    opacity: 1;
  }

  &:focus ~ .checkbox__icon {
    @include focus-styles();
  }

  &:focus:not(:focus-visible) ~ .checkbox__icon {
    @include focus-styles($revert: true);
  }

  &:focus-visible ~ .checkbox__icon {
    @include focus-styles();
  }
}

.checkbox__icon {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;

  border: $border-width solid var(--body-color);
  background-color: var(--body-bg);

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 70%;
    height: 70%;

    opacity: 0;
    background-color: var(--body-color);
    transition: opacity 0.15s;
    transform: translate(-50%, -50%);
  }
}

.checkbox__label {
  font-size: px2rem(16);
}
