@use '../misc/variables';

@use 'sass:math';

.customize-columns {
  display: flex;
  flex-direction: column;
  gap: math.div(variables.$gap, 2);
  padding: 0;
  margin-top: variables.$gap;
  margin-bottom: variables.$gap;

  list-style: none;
}
