@use '../misc/variables';
@use '../misc/mixins';

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop);
}

.drawer-container {
  position: fixed;
  z-index: 100;

  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  min-height: 300px;
  height: 100%;

  background-color: var(--body-bg);
  box-shadow: var(--shadow);

  @include mixins.focus;
}

.drawer-top {
  top: 0;
  left: 0;

  border-bottom: variables.$border-width solid var(--border-color);
}

.drawer-right {
  top: 0;
  right: 0;

  border-left: variables.$border-width solid var(--border-color);
}

.drawer-bottom {
  bottom: 0;
  left: 0;

  border-top: variables.$border-width solid var(--border-color);
}

.drawer-left {
  top: 0;
  left: 0;

  border-right: variables.$border-width solid var(--border-color);
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: variables.$header-height;
  padding: variables.$gap 2 * variables.$gap;

  border-bottom: variables.$border-width solid var(--border-color);
}

.drawer-title {
  margin: 0;
}

.drawer-close {
  padding: 4px 8px;

  font-size: 22px;
  color: inherit;

  background: transparent;
  border: none;
  cursor: pointer;
}

.drawer-content {
  flex: 1;
  padding: 2 * variables.$gap;

  overflow-y: auto;
}
