.filters {
  margin: 0.5rem 0;

  .tags {
    margin-top: 0.5rem;
  }
}

.filters__content {
  display: grid;
  gap: 0.5rem;

  margin-top: 0.5rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}
