@use '../misc/mixins';
@use '../misc/variables';

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  color: var(--body-color);

  border: variables.$border-width solid var(--body-color);
  border-radius: 50%;
  background-color: var(--body-bg);
  transition:
    background-color 0.3s,
    color 0.3s;

  @include mixins.hover() {
    cursor: pointer;
  }
}
