.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  color: var(--body-color);

  border: $border-width solid var(--body-color);
  border-radius: 50%;
  background-color: var(--body-bg);
  transition:
    background-color 0.3s,
    color 0.3s;

  @include hover() {
    cursor: pointer;
  }

  &--toggle-theme {
    position: relative;

    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;

      display: block;

      background-color: var(--body-color);
    }
  }
}
