@use '../misc/breakpoints';
@use '../misc/mixins';
@use '../misc/variables';

.images {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  @include breakpoints.media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.images__item {
  height: 100px;
  object-fit: contain;

  @include mixins.hover() {
    cursor: pointer;
  }
}
