.info-modal {
  color: var(--body-color);

  border: $border-width solid var(--border-color);
  background-color: var(--body-bg);

  li {
    line-height: 1.2;
  }

  li + li {
    margin-top: 0.5rem;
  }
}

.info-modal__content {
  max-width: 600px;

  :first-child {
    margin-top: 0;
  }
}
