.table {
  width: 100%;
  margin: 1.5em 0;

  @include media-breakpoint-up(lg) {
    max-height: calc(100vh - 3em);

    border: 2px solid $brand-dark-color;
    overflow: auto;
  }
}

table {
  display: block;

  border-collapse: separate;
  border-spacing: 0;

  @include media-breakpoint-up(lg) {
    display: table;
  }
}

thead {
  display: block;
  margin-bottom: 20px;

  tr:first-child,
  th:first-child {
    display: none;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr;

    background-color: $brand-dark-color;
  }

  @include media-breakpoint-up(lg) {
    display: table-header-group;
    margin-bottom: 0;

    tr:first-child {
      display: table-row;
    }

    th:first-child {
      display: table-cell;
    }

    tr {
      display: table-row;

      background-color: initial;
    }

    th {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
}

tr {
  border: 2px solid $brand-dark-color;

  @include media-breakpoint-up(lg) {
    border: none;
  }
}

thead tr {
  color: $light-text-color;

  @include media-breakpoint-up(lg) {
    border-bottom: none;
  }
}

tbody {
  display: grid;
  gap: 10px;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    display: table-row-group;
  }
}

tbody tr {
  display: block;

  color: $dark-text-color;

  &,
  & th {
    background-color: $brand-light-color;
  }

  &:nth-child(even) {
    &,
    & th {
      background-color: $brand-average-color;
    }
  }

  @include media-breakpoint-up(lg) {
    display: table-row;
  }
}

tbody tr + tr {
  td,
  th {
    @include media-breakpoint-up(lg) {
      border-top: 2px solid $brand-dark-color;
    }
  }
}

tbody th {
  @include media-breakpoint-up(lg) {
    position: sticky;
    left: -1px;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      display: block;
      width: 2px;

      background-color: $brand-dark-color;
    }
  }
}

th {
  padding: 10px;

  text-align: left;
}

thead th {
  &[data-sort-col-name] {
    user-select: none;

    @include hover() {
      cursor: pointer;
    }
  }

  &[data-sort-col-direction]::after {
    padding-left: 3px;

    font-size: 0.7em;
    line-height: 0.7em;
  }

  &[data-sort-col-direction='asc']::after {
    content: '▲';
  }

  &[data-sort-col-direction='desc']::after {
    content: '▼';
  }

  @include media-breakpoint-up(lg) {
    background-color: $brand-dark-color;
  }
}

td {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;

  word-break: break-word;

  & + & {
    border-top: 2px solid $brand-dark-color;
  }

  &::before {
    content: attr(data-title);
  }

  @include media-breakpoint-up(lg) {
    display: table-cell;
    gap: 0;

    white-space: nowrap;

    border-bottom: none;

    & + & {
      border-top: none;
      border-left: 2px solid $brand-dark-color;
    }

    &::before {
      display: none;
    }
  }
}

td + td {
  @include media-breakpoint-up(lg) {
    border-left: 2px solid $brand-dark-color;
  }
}

tbody td {
  @include media-breakpoint-up(lg) {
    &:first-child {
      border-right: 2px solid $brand-dark-color;
    }
  }
}
