@use 'sass:math';

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: math.div($gap, 2) $gap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sidebar .tags-list {
  margin-top: $gap;

  display: block;

  @include media-breakpoint-up(md) {
    column-count: 2;
  }

  @include media-breakpoint-up(xl) {
    column-count: 3;
  }

  @include media-breakpoint-up(xxl) {
    column-count: 4;
  }
}

.sidebar .tags-list li {
  margin-top: math.div($gap, 2);
  margin-bottom: math.div($gap, 2);

  &:first-child {
    margin-top: 0;
  }
}
