.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

td .tags {
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

td .checkbox {
  gap: px2rem(3);
  padding: px2rem(3);
}

td .checkbox__icon {
  width: 20px;
  height: 20px;
}
