@use 'sass:math';

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: math.div($gap, 2) $gap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sidebar .tags-list {
  margin-top: $gap;

  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
