@use 'sass:math';

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: math.div($gap, 2) $gap;
  margin: 0;
  padding: 0;

  list-style: none;
}

td .tags {
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.table .tags .ts-checkbox {
  padding: px2rem(3);

  border: $border-width solid var(--body-color);
}
