@use '../misc/variables';

.toast-container {
  position: fixed;
  top: calc(#{variables.$header-height} + #{variables.$gap});
  right: variables.$gap;
  z-index: 11;

  display: flex;
  flex-direction: column;
  gap: variables.$gap;
}

.toast {
  padding: variables.$gap;
  max-width: 16rem;
  min-height: 36px;

  color: var(--body-color);

  border: variables.$border-width solid var(--border-color);
  background-color: var(--body-bg);
  box-shadow: 2 * variables.$border-width 2 * variables.$border-width
    var(--body-color);
  opacity: 0;
  transform: translateX(100%);
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s ease;
  pointer-events: none;

  &--success {
    color: variables.$success;

    border-color: variables.$success;
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
  }

  &.hide {
    transform: translateX(100%);
    opacity: 0;
  }
}
