@use '../misc/variables';
@use '../misc/breakpoints';

.toggle-buttons-panel {
  display: flex;
  flex-direction: row;
  gap: variables.$gap;
}

.toggle-buttons-panel__btn {
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
}
