@use 'sass:math';

@use '../misc/functions';
@use '../misc/mixins';
@use '../misc/variables';

.ts-checkbox {
  position: relative;

  display: inline-flex;
  align-items: center;
  gap: functions.px2rem(3);
  vertical-align: middle;

  transition: 0.3s;

  @include mixins.hover() {
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
  }
}

.ts-checkbox.ts-checkbox--include {
  &,
  .ts-checkbox__icon {
    border-color: variables.$success;
  }
  .ts-checkbox__icon::before,
  .ts-checkbox__icon::after {
    background-color: variables.$success;
    opacity: 1;
  }
  .ts-checkbox__label {
    color: variables.$success;
  }
}

.ts-checkbox.ts-checkbox--exclude {
  &,
  .ts-checkbox__icon {
    border-color: variables.$danger;
  }
  .ts-checkbox__icon::after {
    background-color: variables.$danger;
    opacity: 1;
  }
  .ts-checkbox__label {
    color: variables.$danger;
  }
}

.ts-checkbox__input {
  @include mixins.visually-hidden();

  &:focus ~ .ts-checkbox__icon {
    @include mixins.focus-styles();
  }

  &:focus:not(:focus-visible) ~ .ts-checkbox__icon {
    @include mixins.focus-styles($revert: true);
  }

  &:focus-visible ~ .ts-checkbox__icon {
    @include mixins.focus-styles();
  }
}

.ts-checkbox__icon {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  border: variables.$border-width solid var(--body-color);
  background-color: var(--body-bg);

  &::before,
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    opacity: 0;
    background-color: var(--body-color);
    transition: opacity 0.15s;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: variables.$border-width;
    height: 70%;
  }

  &::after {
    width: 70%;
    height: variables.$border-width;
  }
}

.ts-checkbox__label {
  font-size: functions.px2rem(16);
}

.table .tags-list .ts-checkbox {
  padding: functions.px2rem(3);

  border: variables.$border-width solid var(--body-color);
}
