<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" appendQueryString="false" url="https://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Expose-Headers" value="ETag, Last-Modified" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
    </staticContent>
  </system.webServer>
</configuration>
