@include focus();

body {
  margin: 0;

  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--body-color);

  background-color: var(--body-bg);
}

*,
*::after,
*::before {
  font-family: inherit;
  line-height: inherit;

  box-sizing: border-box;
}

a {
  color: var(--link-color);

  @include hover() {
    text-decoration: none;
  }
}

h4 {
  margin: $gap 0;
}

code {
  padding: 0 0.25rem;

  color: var(--body-bg);
  white-space: nowrap;

  border-radius: $border-width;
  background-color: var(--body-color);
}

.container {
  padding: 0 $gap;
  min-height: 100vh;
}

.field-title {
  display: block;
}

.field-title__text {
  display: inline-block;
  margin-bottom: $gap;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 $gap;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  border-radius: 0;
  border: $border-width solid var(--border-color);
  background-color: var(--body-bg);

  &--filled {
    border-color: var(--body-color);
  }
}

::placeholder {
  color: var(--secondary-color);
}

dialog {
  padding: $gap;
}

summary {
  @include hover() {
    cursor: pointer;
  }
}
