@include focus();

body {
  margin: 0;

  font-family: 'Cascadia Code', 'Monaco', 'Lucida Console', monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--body-color);

  box-sizing: border-box;
  background-color: var(--body-bg);
}

*,
*::after,
*::before {
  font-family: inherit;
  font-variant-ligatures: none;
  line-height: inherit;

  box-sizing: inherit;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  color: var(--link-color);

  @include hover() {
    text-decoration: none;
  }
}

h4 {
  margin: 0.5rem 0;
}

code {
  padding: 0 0.25rem;

  color: var(--body-bg);

  border-radius: $border-width;
  background-color: var(--body-color);
}

.container {
  padding: 0 0.5rem;
  min-height: 100vh;
}

.field-title {
  display: block;
}

.field-title__text {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;

  font-family: inherit;
  font-size: inherit;
  color: inherit;

  border-radius: 0;
  border: $border-width solid var(--border-color);
  background-color: var(--body-bg);
}

::placeholder {
  color: var(--secondary-color);
}
