@use 'mixins';
@use 'variables';

@include mixins.focus();

body {
  margin: 0;

  font-family: 'JetBrains Mono', Menlo, Consolas, monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--body-color);

  background-color: var(--body-bg);
}

*,
*::after,
*::before {
  font-family: inherit;
  line-height: inherit;

  box-sizing: border-box;
}

a {
  color: var(--link-color);

  @include mixins.hover() {
    text-decoration: none;
  }
}

h4 {
  margin: variables.$gap 0;
}

code {
  padding: 0 0.25rem;

  color: var(--body-bg);
  white-space: nowrap;

  border-radius: variables.$border-width;
  background-color: var(--body-color);
}

svg {
  vertical-align: top;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.full-height {
  padding: 0 variables.$gap;
  min-height: 100vh;
}

.filter-title {
  display: block;
}

.filter-title__text {
  display: inline-block;
  margin-bottom: variables.$gap;
}

dialog {
  padding: variables.$gap;
}

summary {
  @include mixins.hover() {
    cursor: pointer;
  }
}

.mt {
  margin-top: variables.$gap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: variables.$gap;
}
