$accent-primary-color: #228b22;
$accent-secondary-color: #0006ff;
$accent-third-color: #ff6347;

$brand-dark-color: #000;
$brand-average-color: #ebebeb;
$brand-light-color: #fff;

$focus-inner-color: #fff;
$focus-outer-color: #000;

$row-bg--hover: yellow;
$link-text-color: $accent-secondary-color;

$border-width: 2px;
