$row-bg--hover: #fff3cd;
$border-width: 2px;

@mixin light-theme() {
  --body-bg: #fff;
  --body-color: #212529;
  --link-color: #0d6efd;
  --secondary-color: rgba(33, 37, 41, 0.75);
  --border-color: #dee2e6;
  --table-striped-bg: #f2f2f2;
}

@mixin dark-theme() {
  --body-bg: #212529;
  --body-color: #adb5bd;
  --link-color: #6ea8fe;
  --secondary-color: rgba(173, 181, 189, 0.75);
  --border-color: #495057;
  --table-striped-bg: #2c3034;
}

:root {
  --focus-inner-color: var(--border-color);
  --focus-outer-color: var(--body-color);

  --btn-color: #fff;
  --btn-bg: #6c757d;
  --btn-border-color: #6c757d;
  --btn-hover-color: #fff;
  --btn-hover-bg: #5c636a;
  --btn-hover-border-color: #565e64;

  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}

[data-theme='light'] {
  @include light-theme();
}

[data-theme='dark'] {
  @include dark-theme();
}
