@use 'misc/variables';
@use 'misc/grid';
@use 'misc/functions';
@use 'misc/breakpoints';
@use 'misc/mixins';
@use 'misc/common';

@use 'blocks/app';
@use 'blocks/sidebar';
@use 'blocks/logo';
@use 'blocks/counter';
@use 'blocks/burger';
@use 'blocks/loader';
@use 'blocks/spinner';
@use 'blocks/btn';
@use 'blocks/btn-group';
@use 'blocks/table';
@use 'blocks/table-controls';
@use 'blocks/tags';
@use 'blocks/tags-list';
@use 'blocks/filters';
@use 'blocks/info-modal';
@use 'blocks/icon';
@use 'blocks/checkbox';
@use 'blocks/ts-checkbox';
@use 'blocks/customize-columns';
@use 'blocks/images';
@use 'blocks/img-preview-modal';
@use 'blocks/toast';
@use 'blocks/primary-color';
@use 'blocks/color-preview';
@use 'blocks/drawer';
@use 'blocks/external-link';

.foo {
  margin: variables.$gap;

  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  @include breakpoints.media-breakpoint-up(md) {
    flex-direction: row;

    .btn {
      flex-grow: 1;
    }
  }
}
